<%= simple_form_for(journal_entry, html: { data: { controller: "form" }, class: "m-2 p-3 mx-auto" }) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :title, input_html: { class: "form-control mb-3" } %>

    <%= f.input :entry, as: :text, input_html: { class: "form-control mb-3", 'rows' => 5, 'cols' => 10 } %>

    <%= f.input :created_at, readonly: true, html5: true, input_html: { class: "form-control mb-3" } %>

    <%= f.input :updated_at, readonly: true, html5: true, input_html: { class: "form-control mb-3" } %>

  </div>

  <div class="form-actions links d-flex justify-content-end align-items-center">

    <%= render 'links', journal_entry: journal_entry %>

    <%= button_tag type: 'submit', class: "btn btn-primary" do %>

      <%# <i class="fa-solid fa-thumbs-up"></i> %>

      <i class="fa-solid fa-circle-check"></i> Done

    <% end %>

  </div>

<% end %>
