
<div id="<%= dom_id abstract_task %>"
  class="card <%= type %><%= type == 'task' ? " parent-#{dom_id(abstract_task).gsub("_", "-")}" : " subtasks-of-#{ dom_id(abstract_task.task).gsub("_", "-") }" %><%= abstract_task.completed ? " card-checked" : "" %>"
  data-controller="<%= type %>"
  <% if type == 'task' %>
    data-task-subtasks-outlet=".subtasks-of-<%= (dom_id abstract_task).gsub("_", "-") %>"
    data-task-url-value="<%= task_url abstract_task %>"
  <% elsif type == 'subtask' %>
    data-subtask-task-outlet="#<%= (dom_id abstract_task.task) %>"
    data-subtask-url-value="<%= task_subtask_url(abstract_task.task, abstract_task) %>"
  <% end %>
  data-<%= type %>-checked-value="<%= abstract_task.completed %>">

  <div class="card-header d-flex justify-content-between align-items-center">

    <h3 class="card-title">

      <% if type == 'task' %>
        <i class="fa-solid fa-grip-vertical handle"></i>
      <% end %>

      <span id="<%= "#{dom_id abstract_task}_checkbox_wrapper" %>"
        class="checkbox-wrapper"
        data-<%= type %>-target="checkbox">

        <label
          data-<%= type %>-target="fauxCheckbox"
          data-action="<%= "click->#{type}#onCheckboxClicked" %>"
          for="<%= "#{dom_id abstract_task}_completed" %>">

          <i data-<%= type %>-target="fauxCheckIcon" class="fa-solid <%= abstract_task.completed ? "fa-square-check" : "fa-square" %>"></i>

        </label>

        <input id="<%= "#{dom_id abstract_task}_completed" %>"
          class="checkbox d-none"
          data-<%= type %>-target="realCheckbox"
          type="checkbox"<%= abstract_task.completed ? " checked" : "" %>>

      </span>

      <span id="<%= "#{dom_id abstract_task}_order" %>"
        class="order-wrapper ordinal-of-<%= (dom_id abstract_task).gsub("_", "-") %>"
        data-<%= type %>-target="ordinal"
        data-action="change-><%= type %>#onChange">

        <%= abstract_task.order %>

      </span>

      <%= abstract_task.title %>

    </h3>

    <h3 class="start-date-time">

      <%#= abstract_task.start_date.strftime("%H:%M %C-%m-%Y") %>

    </h3>

    <div class="card-controls d-flex justify-content-end">

      <% if type == "task" %>
        <%= link_to(new_task_subtask_path(abstract_task),
          data: {
            turbo_frame: "new_subtask_for_#{ dom_id abstract_task }",
          },
          class: "add-new-subtask btn btn-secondary m-1",
          title: "Add a subtask?"
        ) do %>

          <i class="fa-solid fa-square-plus"></i>

        <% end %>
      <% end %>

      <% if policy(abstract_task).edit? %>

        <% edit_path = type == 'task' ? edit_task_path(abstract_task) : edit_task_subtask_path(abstract_task.task, abstract_task) %>

        <%= link_to(
          edit_path,
          data: {
            turbo_frame: "edit_#{ dom_id abstract_task }"
          },
          class: "btn btn-quarternary m-1",
          title: "Edit this #{ type.humanize }"
        ) do %>

          <i class="fa-solid fa-pen-to-square"></i>

        <% end %>

      <% end %>

      <a href="#" type="button"
        class="collapser btn btn-success m-1"
        title=<%= "View #{type} description" %>
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id abstract_task %>_description"
        aria-expanded="false"
        aria-controls="<%= dom_id abstract_task %>_description">

        <i data-<%= type %>-target="descBtnIcon" class="fa-solid fa-chevron-down"></i>

      </a>

      <% if type == "task" %>
        <a href="#" type="button"
          class="collapser btn btn-warning m-1"
          title="View all subtasks"
          data-bs-toggle="collapse"
          data-bs-target="#<%= dom_id abstract_task %>_subtasks"
          aria-expanded="false"
          aria-controls="<%= dom_id abstract_task %>_subtasks">

          <i data-<%= type %>-target="subtasksBtnIcon" class="fa-solid fa-angles-down"></i>

        </a>
      <% end %>

      <% if policy(abstract_task).destroy? %>

        <% delete_path = type == 'task' ? task_path(abstract_task) : task_subtask_path(abstract_task.task, abstract_task) %>

        <%= link_to(
          delete_path,
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          },
          class: "btn btn-danger m-1",
          title: "Delete this #{type.upcase}?"
        ) do %>

          <i class="fa-solid fa-trash"></i>

        <% end %>

      <% end %>

    </div>

  </div>
  <div id="<%= dom_id abstract_task %>_description"
    class="card-body p-0 collapse"
    data-<%= type %>-target="desc"
    data-action="<%= "shown.bs.collapse->#{type}#onDescOpen hidden.bs.collapse->#{type}#onDescClose" %>">

    <p class="card-text p-2">
      <%= abstract_task.description %>
    </p>

  </div>

  <% if type == "task" %>

    <div id="<%= dom_id abstract_task %>_subtasks"
      class="cards subtasks-container collapse-container collapse"
      data-action="shown.bs.collapse->task#onSubtasksOpen hidden.bs.collapse->task#onSubtasksClose"
      data-task-target="subtasks">

      <%= turbo_frame_tag "new_subtask_for_#{ dom_id abstract_task }", data: { controller: "dragula" } do %>

        <% if abstract_task.subtasks.length.positive? %>

          <% abstract_task.subtasks.each do |subtask| %>

            <%= turbo_frame_tag "edit_#{ dom_id subtask }_for_#{ dom_id subtask.task }" do %>

              <%= render 'abstract_task_card', abstract_task: subtask, type: 'subtask' %>

            <% end %>

          <% end %>

        <% end %>

      <% end %>

    </div>

  <% end %>

</div>
