<%# "animate-shadow bg-body rounded-3 m-5 p-5 w-75 mx-auto" %>
<% if false %>
<div id="<%= dom_id task %>" class="card task m-1" data-controller="form">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3><i class="fa-solid fa-grip handle"></i> Task #<span><%= task.order %></span> <%= task.title %></h3>
    <div class="card-controls d-flex justify-content-end">
      <%= render 'links', task: task %>

      <a href="#" type="button"
        class="collapser btn btn-warning m-1"
        title="View description"
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id task %>_description"
        aria-expanded="false"
        aria-controls="<%= dom_id task %>_description">
        <i class="fa-solid fa-chevron-down"></i>
      </a>

      <button type="button"
        class="collapser btn btn-warning m-1"
        title="View all subtasks"
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id task %>_sub_tasks"
        aria-expanded="false"
        aria-controls="<%= dom_id task %>_sub_tasks"<%= task.sub_tasks.empty? ? " disabled" : "" %>>
        <i class="fa-solid fa-angles-down"></i>
      </button>
    </div>
  </div>
  <div id="<%= dom_id task %>_description" class="card-body collapse">
    <p class="bd-font"><%= task.description %></p>
  </div>

  <% if task.sub_tasks.length.positive? %>
  <div id="<%= dom_id task %>_sub_tasks" class="cards subtasks-container collapse-container collapse"<%# data-controller="dragula" %>>

    <% task.sub_tasks.each do |subtask| %>

      <%= render 'subtask_card', subtask: subtask %>

    <% end %>

  </div>
  <% end %>
</div>
<% end %>

<%= simple_form_for(task, html: { data: { controller: "form", action: "submit->form#submit", "form-target": "form" }, class: "card task m-3 p-2 mx-auto" }) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%# :order, :routine, :recurs_on, :task_type, :title, :description, :comment, :start_date, :due_date, :completed, :active %>

  <div class="form-inputs">

    <%= f.input :order, input_html: { class: "d-inline-block" } %>

    <%= f.input :routine, collection: Task::transform_routines_for_html_select, input_html: { class: "form-control mb-3" } %>

    <%# <%= f.input :recurs_on, as: :check_boxes, input_html: { class: "form-control mb-3" } %>

    <%= f.input :task_type, collection: Task::transform_task_types_for_html_select, input_html: { class: "form-control mb-3" } %>

    <%= f.input :title, input_html: { class: "form-control mb-3" } %>

    <%= f.input :description, as: :text, input_html: { class: "form-control mb-3", 'rows' => 5, 'cols' => 10 } %>

    <%#= f.input :comment, as: :text, input_html: { class: "form-control mb-3", 'rows' => 5, 'cols' => 10 } %>

    <%= f.input :start_date, html5: true, input_html: { class: "form-control mb-3" } %>

    <%= f.input :due_date, html5: true, input_html: { class: "form-control mb-3" } %>

    <%#= f.input :completed, as: :boolean, input_html: { class: "form-control mb-3" } %>

    <%#= f.input :active, as: :boolean, input_html: { class: "form-control mb-3" } %>

  </div>

  <h3>Sub Tasks</h3>
  <div class="subtasks-controller">

    <div id="sub-tasks">
    <%= f.simple_fields_for :sub_tasks do |sub_task| %>
      <%= render "sub_task_fields", f: sub_task %>
    <% end %>
    </div>

    <div class="links">

      <%= link_to_add_nested(
        f,
        :sub_tasks,
        '#sub-tasks',
        partial_form_variable: :f,
        tag_attributes: {
          class: "Add-nested-assoc",
          title: "Add a subtask"
        },
        link_classes: 'btn btn-sm btn-primary m-1'
      ) do %>
        <i class='fa fa-square-plus'></i>
      <% end %>

      <%# <%= link_to_add_association f, :sub_tasks, class: "", title: "Add a subtask?" do %>
      <%#   <i class="fa-solid fa-square-plus"></i>
      <%# <% end %>

    </div>
  </div>

  <div class="form-actions links d-flex justify-content-end align-items-center">

    <%= render 'links', task: task %>

    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      <i class="fa-solid fa-thumbs-up"></i>
    <% end %>

  </div>

<% end %>
