<%= simple_form_for(
  task,
  html: {
    id: "#{ dom_id task }",
    class: "task task-form m-3 p-2",
    data: {
      controller: "cards"
    }
  }) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :order, label: false, input_html: { id: "#{ dom_id task }_order", class: "d-n one order" } %>

    <%= f.input :routine, as: :hidden, label: false, collection: Task::transform_routines_for_html_select, input_html: { class: "form-control mb-3" } %>

    <%= f.input :recurs_on, as: :check_boxes, as: :hidden, label: false, input_html: { class: "form-control mb-3" } %>

    <%= f.input :task_type, label: false, collection: Task::transform_task_types_for_html_select, input_html: { class: "form-control mb-3" } %>

    <%= f.input :title, label: false, placeholder: "Task title...", input_html: { class: "form-control mb-3" } %>

    <%= f.input :description, as: :text, label: false, placeholder: "Add a description here...", input_html: { class: "form-control mb-3", 'rows' => 3, 'cols' => 10 } %>

    <%= f.input :comment, as: :text, as: :hidden, label: false, input_html: { hidden: true, class: "form-control mb-3", 'rows' => 3, 'cols' => 10 } %>

    <%= f.input :start_date, html5: true, label: false, input_html: { class: "form-control mb-3" } %>

    <%= f.input :due_date, html5: true, as: :hidden, label: false, input_html: { class: "form-control mb-3" } %>

    <%= f.input :completed, as: :boolean, label: false, input_html: { id: "#{dom_id task}_completed", class: "d-none form-control mb-3" } %>

    <%= f.input :active, as: :boolean, as: :hidden, label: false, input_html: { hidden: true, class: "form-control mb-3" } %>

  </div>

  <h3>Sub Tasks</h3>
  <div class="subtasks-controller">

    <div id="subtasks_for_<%= dom_id task %>">

    <%= f.simple_fields_for :subtasks do |subtask| %>

      <%= render "subtask_fields", f: subtask %>

    <% end %>

    </div>

    <div class="links">

      <%= link_to_add_nested(
        f,
        :subtasks,
        "#subtasks_for_#{ dom_id task }",
        partial_form_variable: :f,
        tag_attributes: {
          class: "Add-nested-assoc",
          title: "Add a subtask"
        },
        link_classes: 'btn btn-sm btn-primary m-1'
      ) do %>

        <i class='fa fa-square-plus'></i>

      <% end %>

    </div>
  </div>

  <div class="form-actions links d-flex justify-content-end align-items-center">

    <%= render 'links', task: task %>

    <%= button_tag type: 'submit', class: "btn btn-primary" do %>

      <%# <i class="fa-solid fa-thumbs-up"></i> %>

      <i class="fa-solid fa-circle-check"></i> Done!

    <% end %>

  </div>

<% end %>
