<div class="subtask-fields card m-1 p-2">
  <%= f.input :order,
    label: false,
    input_html: {
      class: "d-none"
    },
    wrapper_html: {
      class: "d-none m-0"
    } %>

  <%= f.input :title,
    label: false,
    placeholder: "Subtask title goes here...",
    input_html: {
      class: "form-control"
    } %>

  <%= f.input :description, as: :text,
    label: false,
    placeholder: "More detail here...",
    input_html: {
      class: "form-control mb-3",
      rows: 5,
      cols: 10
    } %>

  <%= f.input :comment, as: :text,
    label: false,
    placeholder: "Comment here...",
    input_html: {
      class: "d-none",
      rows: 5, cols: 10
    },
    wrapper_html: {
      class: "d-none m-0"
    } %>

  <%= f.input :ai_feedback, as: :text,
    label: false,
    placeholder: "AI Feedback here...",
    input_html: {
      class: "d-none",
      rows: 5, cols: 10
    },
    wrapper_html: {
      class: "d-none m-0"
    } %>

  <%= f.input :start_date, html5: true,
    label: false,
    input_html: {
      class: "form-control mb-3",
      value: f.object.start_date? ? f.object.start_date.strftime("%Y-%m-%d %H:%M") : "",
      min: Time.zone.now.strftime("%Y-%m-%d %H:%M"),
    } %>


  <%= f.input :duration, html5: true, as: :time,
    label: false,
    input_html: {
      class: "form-control mb-3",
      value: f.object.duration? ? f.object.duration_to_hms : "",
      step: 900,
    } %>

  <%= f.input :end_date, html5: true,
    label: false,
    input_html: {
      class: "d-none form-control",
      value: f.object.end_date? ? f.object.end_date.strftime("%Y-%m-%d %H:%M") : "",
      min: Time.zone.now.strftime("%Y-%m-%d %H:%M"),
    },
    wrapper_html: {
      class: "d-none m-0"
    } %>

  <%= f.input :completed, as: :boolean,
    label: false,
    input_html: {
      class: "d-none"
    },
    wrapper_html: {
      class: "d-none m-0"
    } %>

  <div class="subtask-controls d-flex justify-content-end align-items-center">

    <%= link_to_remove_nested(
      f,
      tag_attributes: {
          class: "remove-nested-assoc",
          title: "Remove this subtask"
        },
        link_classes: 'btn btn-sm btn-danger m-1',
        fields_wrapper_selector: '.subtask-fields'
      ) do %>

      <i class="fa-solid fa-trash"></i>

    <% end %>

  </div>
</div>
