<div id="<%= dom_id subtask %>" class="card subtask m-1">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3><i class="fa-solid fa-grip handle"></i> Subtask #<span><%= subtask.order %></span>  <%= subtask.title %></h3>
    <div class="d-flex justify-content-end">
      <%= render 'sub_tasks/links', sub_task: subtask %>
      <!--
      <i class="fa-solid fa-square-check"></i>
      <i class="fa-regular fa-square-check"></i>
      -->
      <a href="#" type="button"
        class="collapser btn btn-warning m-1"
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id subtask %>_description"
        aria-expanded="false"
        aria-controls="<%= dom_id subtask %>_description">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </div>
  </div>
  <div id="<%= dom_id subtask %>_description" class="card-body collapse">
    <p class="card-text bd-font"><%= subtask.description %></p>
  </div>
</div>
