<div id="<%= dom_id task %>" class="card task m-1" data-controller="cards" data-cards-target="card" data-cards-url-value="<%= task_url task %>">

  <div class="card-header d-flex justify-content-between align-items-center">

    <h3>
      <!-- <i class="fa-solid fa-grip handle"></i> -->
      <input data-action="cards#onChecked" id="<%= "#{dom_id task}_completed" %>" type="checkbox"<%= task.completed ? " checked" : "" %>>
      #<span id="<%= "#{dom_id task}_order" %>"><%= task.order %></span>
      <%= task.title %>
    </h3>

    <div class="card-controls d-flex justify-content-end">

      <%= link_to(new_task_sub_task_path(task),
        data: {
          turbo_frame: "new_sub_task_for_#{ dom_id task }"
        },
        class: "btn btn-primary m-1",
        title: "Add a subtask?"
      ) do %>

        <i class="fa-solid fa-square-plus"></i>

      <% end %>

      <% if policy(task).edit? %>

        <%= link_to(edit_task_path(task),
          data: {
            turbo_frame: "edit_#{ dom_id task }"
          },
          class: "btn btn-warning m-1",
          title: "Edit this task"
        ) do %>

          <i class="fa-solid fa-pen-to-square"></i>

        <% end %>

      <% end %>

      <% if policy(task).destroy? %>

        <%= link_to(task_path(task),
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          },
          class: "btn btn-danger m-1",
          title: "Delete this task?"
        ) do %>

          <i class="fa-solid fa-trash"></i>

        <% end %>

      <% end %>

      <a href="#" type="button"
        class="collapser btn btn-warning m-1"
        title="View description"
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id task %>_description"
        aria-expanded="false"
        aria-controls="<%= dom_id task %>_description">
        <i class="fa-solid fa-chevron-down"></i>
      </a>

      <button type="button"
        class="collapser btn btn-warning m-1"
        title="View all subtasks"
        data-bs-toggle="collapse"
        data-bs-target="#<%= dom_id task %>_sub_tasks"
        aria-expanded="false"
        aria-controls="<%= dom_id task %>_sub_tasks">

        <%# = task.sub_tasks.empty? ? " disabled" : "" %>
        <i class="fa-solid fa-angles-down"></i>

      </button>

    </div>

  </div>
  <div id="<%= dom_id task %>_description" class="card-body collapse">

    <p class="bd-font"><%= task.description %></p>

  </div>

  <div id="<%= dom_id task %>_sub_tasks" class="cards subtasks-container collapse-container collapse">

    <%= turbo_frame_tag "new_sub_task_for_#{ dom_id task }", data: { controller: "dragula" } do %>

      <% if task.sub_tasks.length.positive? %>

        <% task.sub_tasks.each do |sub_task| %>

          <%= turbo_frame_tag "edit_#{ dom_id sub_task }_for_#{ dom_id sub_task.task }" do %>

            <%= render 'tasks/sub_task_card', sub_task: sub_task %>

          <% end %>

        <% end %>

      <% end %>

    <% end %>

  </div>

</div>
