<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10 p-3">

    <div class="header d-flex justify-content-between align-items-center">

      <h1 class="my-5 mb-3 fst-bold">All Tasks</h1>

      <%= link_to new_task_path, class: "btn bg-quinary btn-lg", title: "Add a new Task?" do %>
        <i class="fa-solid fa-square-plus"></i>
      <% end %>

    </div>

    <hr>

    <% @tasks.each do |task| %>

      <h3>Task #<%= task.order %> <%= task.title %><h3>

      <p class="bd-font"><%= task.description %></p>

      <div class="d-flex justify-content-end">

        <%= render 'links', task: task %>

        <a href="#" type="button"
          class="btn btn-warning m-1"
          data-bs-toggle="collapse"
          data-bs-target="#<%= dom_id task %>"
          aria-expanded="false"
          aria-controls="<%= dom_id task %>">

          <i class="fa-solid fa-chevron-down"></i>
        </a>

      </div>
      <div class="collapse" id="<%= dom_id task %>" data-controller="dragula">

        <% task.sub_tasks.each do |subtask| %>

          <div class="card subtask m-1">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h3><i class="fa-solid fa-grip handle"></i> #<span><%= subtask.order %></span>  <%= subtask.title %></h3>
              <div class="d-flex justify-content-end">
                <%= render 'sub_tasks/links', sub_task: subtask %>
                <!--
                <i class="fa-solid fa-square-check"></i>
                <i class="fa-regular fa-square-check"></i>
                -->
                <a href="#" type="button"
                  class="btn btn-warning m-1"
                  data-bs-toggle="collapse"
                  data-bs-target="#<%= dom_id subtask %>"
                  aria-expanded="false"
                  aria-controls="<%= dom_id subtask %>">
                  <i class="fa-solid fa-chevron-down"></i>
                </a>
              </div>
            </div>
            <div class="card-body collapse" id="<%= dom_id subtask %>">
              <p class="card-text bd-font"><%= subtask.description %></p>
            </div>
          </div>

        <% end %>

      </div>

    <% end %>

    <hr>

  </div>

</div>
