<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10 p-3">

    <h1 class="my-5 mb-3 fst-bold">All Tasks</h1>

    <hr>

    <% @tasks.each do |task| %>

      <h3>Task #<%= task.order %> <%= task.title %><h3>

      <p class="bd-font"><%= task.description %></p>

      <div class="d-flex justify-content-end">
        <button class="btn btn-warning btn-sm text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= task.id %>" aria-expanded="false" aria-controls="collapse<%= task.id %>">
          View all sub-tasks?
        </button>
      </div>
      <div class="collapse" id="collapse<%= task.id %>">

        <hr>

        <% task.sub_tasks.each do |subtask| %>

          <h4>SubTask #<%= subtask.order %> <%= subtask.title %><h4>

          <p><%= subtask.description %></p>

          <%= render 'sub_tasks/links', sub_task: subtask %>

          <hr>

        <% end %>

      </div>

      <%= render 'links', task: task %>

      <hr>

    <% end %>

  </div>

</div>
