
<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10 p-3">

    <h1>Task #<%= @task.order %> <%= @task.title %></h1>

    <p><%= @task.description %></p>

<<<<<<< HEAD
    <p>
      <%= link_to "Add a Sub Task", new_task_sub_task_path(@task) %>
    </p>
=======
    <%= render 'links', task: @task %>
>>>>>>> cf864d5f5876ae09d6f81955a2ee187f59139a7c

  </div>

</div>
