
<div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon sticky-top shadow-lg">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>

      <i class="fa-solid fa-building-columns"></i>

      <h5 class="d-inline-block bd-font mx-1">The Stoic Journal</h5>

    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if false %>
          <li class="nav-item">
            <%= link_to "Add a Task", new_task_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Today", tasks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Weekly Log", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Monthly Log", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Future Log", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
          <% end %>>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= (current_user.image_url.length > 0 ? current_user.image_url : "https://kitt.lewagon.com/camps/1790") %>" class="avatar" alt="dropdown menu">
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%= link_to "All Tasks", tasks_path, class: "dropdown-item" %>
              <% if false %>
              <hr>

              <%= link_to "Today's Log", tasks_path, class: "dropdown-item" %>

              <%= link_to "Weekly Log", weekly_log_path, class: "dropdown-item" %>

              <%= link_to "Monthly Log", monthly_log_path, class: "dropdown-item" %>

              <%= link_to "Future Log", future_log_path, class: "dropdown-item" %>
              <% end %>
              <hr>
              <% end %>
              <%= link_to "Journal", journal_entries_path, class: "dropdown-item" %>

              <%= link_to "Profile", users_profile_path, class: "dropdown-item" %>

              <%= link_to "Meet The Team", meet_the_team_path, class: "dropdown-item" %>

              <hr class="my-2">

              <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

            </div>
          </li>
        <% else %>
          <li class="nav-item">

            <%= link_to "Login?", new_user_session_path, class: "nav-link" %>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
