<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10">

    <h1 class="my-5 mb-3 fst-bold">Sub Tasks #index</h1>
    <p class="lead">This is a temporary page...</p>

    <hr>

    <% @subtasks.each do |subtask| %>

      <h4 class="fst-bold">Task ID: <%= subtask.task.id %></h4>
      <h4 class="fst-bold">STsk ID: <%= subtask.id %></h4>

      <h3><%= subtask.title %><h3>

      <p><%= subtask.description %></p>

      <div class="links">
        <%= render 'links', subtask: @subtask %>
      </div>

      <hr>

    <% end %>

  </div>

</div>
