<main class="container">
  <div class="d-flex justify-content-center align-items-start min-vh-100">

    <div class="col-md-10 p-3">

      <h1 class="mt-5 mb-2">
        <span class="badge bg-secondary">
          <i class="fa-solid fa-calendar-days"></i>
          <%= DateTime.now.strftime("%A") %>
        </span>
        <span class="badge bg-secondary">
          <i class="fa-solid fa-clock"></i>
          <%= DateTime.now.strftime("%I:%M%p") %>
        </span>
        <span class="badge bg-secondary">
          <i class="fa-solid fa-calendar"></i>
          <%= DateTime.now.strftime("%d/%m/%Y") %>
        </span>
      </h1>

      <hr>

    <div id="task-manager" class="accordion">

      <div class="card">

        <div class="card-header" id="morning-routine">

          <%= turbo_frame_tag "morning_routine" do %>

            <div class="header d-flex justify-content-between align-items-center">

              <h2 class="my-5 mb-3 fst-bold">
                <button type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne">
                  Morning Routine
                </button>
              </h2>

              <%= link_to new_task_path(routine: 'morning'),
                data: {
                  turbo_frame: "new_morning_routine_turbo_frame",
                },
                class: "btn bg-quinary btn-lg",
                title: "Add a new Routine" do %>

                <i class="fa-solid fa-square-plus"></i>

              <% end %>

            </div>

          <% end %>

        </div>

        <div id="collapseOne"
          class="collapse show"
          aria-labelledby="morning-routine"
          data-parent="#task-manager">

          <div class="card-body">

            <% @turbo_frame_id = "new_morning_routine_turbo_frame" %>

            <%= turbo_frame_tag @turbo_frame_id,
              data: {
                controller: "sortable",
                sortable_task_outlet: '.task',
                sortable_group_value: @turbo_frame_id
              } do %>

              <% @todays_am_routines.each do |routine| %>

                <%= render 'tasks/task_card', task: routine, turbo_frame_id: @turbo_frame_id %>

              <% end %>

            <% end %>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header" id="core-day">

          <%= turbo_frame_tag "core_day_routine" do %>

            <div class="header d-flex justify-content-between align-items-center">

              <h2 class="my-5 mb-3 fst-bold">
                <button
                  class="collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">
                  Core Day Routines
                </button>
              </h2>

              <%= link_to new_task_path(routine: 'day'),
                data: {
                  turbo_frame: "new_day_routine_turbo_frame",
                },
                class: "btn bg-quinary btn-lg",
                title: "Add a new Routine" do %>

                <i class="fa-solid fa-square-plus"></i>

              <% end %>

            </div>

          <% end %>

        </div>
        <div id="collapseTwo"
          class="collapse"
          aria-labelledby="core-day"
          data-parent="#task-manager">

          <div class="card-body">

            <% @turbo_frame_id = "new_day_routine_turbo_frame" %>

            <%= turbo_frame_tag @turbo_frame_id,
              data: {
                controller: "sortable",
                sortable_task_outlet: '.task',
                sortable_group_value: @turbo_frame_id
              } do %>

              <% @todays_tasks_and_day_routines.each do |routine| %>

                <%= render 'tasks/task_card', task: routine, turbo_frame_id: @turbo_frame_id %>

              <% end %>

            <% end %>


          </div>
        </div>
      </div>

      <div class="card">

        <div class="card-header" id="evening-routine">

          <%= turbo_frame_tag "evening_routine" do %>

            <div class="header d-flex justify-content-between align-items-center">

              <h2 class="my-5 mb-3 fst-bold">
                <button
                  class="collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">
                  Evening Routine
                </button>
              </h2>

              <%= link_to new_task_path(routine: 'evening'),
                data: {
                  turbo_frame: "new_evening_routine_turbo_frame",
                },
                class: "btn bg-quinary btn-lg",
                title: "Add a new Routine" do %>

                <i class="fa-solid fa-square-plus"></i>

              <% end %>

            </div>

          <% end %>

        </div>
        <div id="collapseThree"
          class="collapse"
          aria-labelledby="evening-routine"
          data-parent="#task-manager">

          <div class="card-body">

            <% @turbo_frame_id = "new_evening_routine_turbo_frame" %>

            <%= turbo_frame_tag @turbo_frame_id,
              data: {
                controller: "sortable",
                sortable_task_outlet: '.task',
                sortable_group_value: @turbo_frame_id
              } do %>

              <% @todays_pm_routines.each do |routine| %>

                <%= render 'tasks/task_card', task: routine, turbo_frame_id: @turbo_frame_id %>

              <% end %>

            <% end %>



          </div>
        </div>

      </div>

    </div>

  </div>
</main>
